name: Mac Artifact

on:
  push:
    branches: [main, actionsHub]
  pull_request:
    branches: [main]
  workflow_call:
    inputs:
      submodule:
        description: The directory of the submodule, if this workflow is being called on a submodule
        required: false
        type: string

jobs:
  build:
    strategy:
      matrix: 
        os: [macos-14, macos-15, macos-26]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Get checkout directory
        uses: step-security/action-cond@45aa5a709bd075f11c74285d8b0ca4d527e5fbcf # v1.2.4
        id: checkout-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools # In this case we are expecting to checkout the tools package.
          if_false: absctl
      - name: Get absctl working directory
        uses: step-security/action-cond@45aa5a709bd075f11c74285d8b0ca4d527e5fbcf # v1.2.4
        id: working-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools/${{ inputs.submodule }} # In this case we are expecting to checkout the tools package.
          if_false: absctl
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: ${{ steps.checkout-dir.outputs.value }}
          fetch-depth: 0
      - name: Checkout absctl submodule
        run: |
          # Workaround to replace ssh with http in .gitmodules and add auth
          # If the .gitmodules was http then we would just need to add the "token:"
          # param to the above actions/checkout step since the token is persisted.
          git config --file .gitmodules --get-regexp url | while read url; do
            git config --file=.gitmodules $(echo "$url" | sed -E "s/git@github.com:|https:\/\/github.com\//https:\/\/${{ secrets.TOOLS_BUILD_PAT }}:${{ secrets.TOOLS_BUILD_PAT }}@github.com\//")
          done
          git submodule update --init --recursive -- ${{ inputs.submodule || '.' }}
        working-directory: ${{ steps.checkout-dir.outputs.value }}
      - name: Print and get version
        working-directory: ${{ steps.working-dir.outputs.value }}
        id: tag
        run: |
          git describe --tags --always
          echo "tag=$(git describe --tags --always)" >> $GITHUB_OUTPUT
      - name: Get go version from go.mod
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          echo "GO_VERSION=$(grep '^go ' go.mod | cut -d " " -f 2)" >> $GITHUB_ENV
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true
          cache-dependency-path: ${{ steps.working-dir.outputs.value }}/go.sum
      - uses: kenchan0130/actions-system-info@59699597e84e80085a750998045983daa49274c4 # v1.4.0
        id: system-info
      - name: Cache backup CLI binaries
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache-backup-cli
        env:
          cache-name: cache-backup-cli
          cache-index: "1"
        with:
          path: |
            ${{ steps.working-dir.outputs.value }}/bin/absctl
          key: ${{ env.cache-name }}-${{ env.cache-index }}-${{ matrix.os }}-${{ runner.arch }}-${{ steps.system-info.outputs.release }}-${{ steps.tag.outputs.tag }}
      - name: Build backup CLI binaries for tools
        if: steps.cache-backup-cli.outputs.cache-hit != 'true'
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          make tools-build
      - name: Sanity Test backup CLI
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          ./bin/absctl --version
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ steps.system-info.outputs.platform }}-${{ runner.arch }}-${{ matrix.os }}-${{ steps.system-info.outputs.release }}-backup-cli
          path: |
            ${{ steps.working-dir.outputs.value }}/bin/absctl
          if-no-files-found: error